<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601, UTC}|%level|%logger{64}|%message%n%xException{128}</pattern>
        </encoder>
    </appender>

    <appender name="consoleAsync" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="consoleAsync"/>
    </root>

    <logger name="com.toptal" level="${LOG_LEVEL:-INFO}"/>

</configuration>
